<html>
<head>
        <meta charset = "UTF-8">
        <title>Shadies</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="home.css">
        <script src="/socket.io/socket.io.js"></script>
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="/js/angular.min.js"></script>
        
</head>
<body> 
    <h1 style="text-align:center"> S H A D I E S . </h1>
    <div>
    <ul>
        <li><a href=""><span class="fa fa-home"></span>Home</a></li>
        <li><a href=""><span class="fa fa-users"></span>Guild</a>
            <ul>
                <li><a href="">War Rooms</a></li>
                <li><a href="chat.ejs">Haven</a></li>
                <li><a href="">Missions</a></li>
                <li><a href="">Friends List</a></li>
            </ul>
        </li>
        <li><a href=""><span class="fa fa-database"></span>Cult</a>
            <ul>
                <li><a href="">Chapel</a></li>
                <li><a href="chat.ejs">Haven</a></li>
                <li><a href="">Operations</a></li>
                <li><a href="">Friends List</a></li>
            </ul>
        </li>
        <li><a href=""><span class="fa fa-user"></span>Your Info</a></li>
        <li><a href=""><span class="fa fa-bolt"></span>About</a></li>
    </ul>
    </div>
</body>
</html>