This is a test #2C3E50
<html>
<head>
    <meta charset = "UTF-8">
    <title>Shadies</title>

    <link rel = "stylesheet" type="text/css" href = "login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<h1 style="text-align:center"> S H A D I E S . </h1>

    <div class="container">
        <img src = "matureman1-512.png">
        <form> 
            <div class="form-input">
                <input type = "text" name="username"
                placeholder="Username:">
            </div>
            <div class="form-input">
                <input type = "text" name="password"
                placeholder="Password:">
            </div>
                <input type = "submit" name = "submit"
                value="Login" class = "btn-login">
                <input type="submit" name="newuser"
                value="New User?" class = "btn-newuser"><br>
            <a href="#">...Forgot Password?...</a>
        </form>

 </div>
</body>
</html>